
.work-abroad-picture{
   
    object-fit: cover;
    margin-top: 30px;


}
.cover-for-blog{
   width: 100%;
   height: 100%;
}
.work-abroad-content{
    padding: 40px;
}
/* .work-abroad-title{
    font-size: 2rem;
    font-weight: 600;

    padding: 50px;
    color: white;
    background-color: rgb(36, 35, 35);
    margin-top: -30px;
    z-index: 1;
    position: relative;
} */
 .work-abroad-title{
    margin-bottom: 20px;
    font-size: 1.1rem;
 }
 .blog-date{ 
    font-size: 0.8rem;
    color: gray;
    margin-bottom: 20px;
    margin-left: 50px;
    
 }
 .blog-title{
    margin-bottom: -40px;
 }
 .global-text{
    font-size: 1.5rem;
    padding: 30px;
    color: gray;
    font-weight: 600;
 }
 .wbtn-get{
    padding: 10px;
    background-color: yellowgreen;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
 }
 .wbtn-get:hover{
    background-color: green;

 }