/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
*/ body {
  margin-left: 0px;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  background-color: white;
}

.header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 90px;
  display: flex;
  background-color: transparent;
  flex-direction: row;
  align-items: center;
  padding: 0 20px;
  transition: all 0.3s ease-in-out; /* Smooth transition for reveal */
  z-index: 1000;
}
.header.scrolled .navList li {
  color: white;
}

.header.scrolled .navList li::after {
  background-color: #fff; /* White underline when scrolled */
}
.header.scrolled {
  background-color: #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(0);
}
@keyframes top {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.header.visible {
  top: 0; /* Slide into view */
}
.head {
  display: flex;
  height: 100vh;
  color: rgb(66, 209, 10);
}
.firstInnerContainer {
  max-width: auto;
  width: 5/6px;
  align-self: center;}
.secondInnerContainer {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-self: center;}
.lastInnerContainer {
  display: flex;
  justify-items: space-between;
  align-self: center;}
.button {
  font-size: 14px;
  color: white;
  border-radius: 5px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 10px;

  &:hover {
    background-color: #d1ffbe;
    color: black;
  }
  &:active {
    background-color: #d1ffbe;
    color: black;
  }}
.text-size {
  color: #ce5263;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  font-size: 16px;
  flex-direction: row;
  font-weight: 500;
}

.menuRow {
  width: 100%;
  justify-content: space-between;
  flex-direction: row;}
.navList {
  display: flex;
  justify-content: center;
  flex-direction: row;}
.navMenu {
  display: flex;
  justify-content: end;
  width: 75%;
  flex-direction: row;
}
.navList li {
  position: relative; /* Required for the underline effect */
  color: black; /* Text color */
  font-size: 18px; /* Adjust font size */
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: color 0.3s ease; /* Smooth color transition */
  list-style: none; /* Remove bullet points */
  padding: 20px; /* Add padding for spacing */}

.navList li:hover {
  color: #d1ffbe; /* Change text color on hover */
}

.navList li::after {
  content: ""; /* Add an empty pseudo-element */
  position: absolute;
  left: 0;
  bottom: 20px; /* Position the underline at the bottom */
  width: 0; /* Start with no underline */
  height: 2px; /* Thickness of the underline */
  background-color: #d1ffbe; /* Underline color */
  transition: width 0.3s ease; /* Smooth underline animation */
}

.navList li:hover::after {
  width: 100%; /* Expand the underline on hover */
}
.navList li.active {
  color: #d1ffbe; /* Active text color */
}

.navList li.active::after {
  width: 100%; /* Keep the underline expanded for the active item */
}
.companyLogo {
  width: auto;
  height: auto;
  margin-left: 20px;
}
/* Mobile-specific styles */
@media (max-width: 768px) {
  .mainContainer {
    flex-direction: column; /* Stack items vertically */
    padding: 10px;
  }
}
.mainPage1 {
  height: 50%;
  background-color: black;
  margin: 0px;
  padding: 0px;
}
.page2 {
  width: 100%;
  height: 50%;
  background-color: white;}

@media screen and (max-width: 600px) {
  .content {
    width: 80%;
    left: 10%; /* Center horizontally on smaller screens */
    top: 20rem; /* Adjust vertical position for smaller screens */
  }
}
.title-slide {
  font-size: 40px;
  font-weight: bold;
   font-family: 'Helvetica-Bold';
  color: rgb(66, 209, 10);
}
.current .content {
  opacity: 1;
}

/* css for dropdown list under services */

.afterSlider {
  width: 100%;

  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  justify-content: space-between;
  padding: 20px;
}
.belowSlider {
  height: 60vh;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 30px;}

/* company logo */
.companyLogo {
  width: 140px;
  height: 50px;
}
.head-line {
  font-size: 50px;
  color: rgb(31, 31, 32);
  font-weight: 500;
  line-height: 1.1;
  font-family: 'Helvetica-Bold';
  width: 100%;
   font-weight: bold;
  padding: 30px;}
.text-line {
  font-size: 18px;
  color: black;
  
  padding: 30px;
  font-family: 'Helvetica-Bold';
  margin-top: -30px;}

/* container below the slide */
.work-list {
  width: 90%;
  border-top: 10px;
  align-items: center;
  border-radius: 10px;
}
.actual-image {
  object-fit: cover;
  border-top-left-radius: 15px; /* Rounded top-left corner */
  border-top-right-radius: 15px; /* Rounded top-right corner */
  border-bottom-left-radius: 15px;

  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease; /* Smooth transition */
}

.actual-image:hover {
  transform: scale(1.1); /* Slightly enlarge the image */
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); /* Add a shadow effect */
}

.full-container {
  height: 65vh;
  display: flex; /* Enable flexbox */
  flex-direction: row;
  padding-top: 20px;
  border-radius: 10px;
  padding-left: 40px;
  justify-content: center; /* Center horizontally */

  /* #49bfe3 */}
.container-page {
  background-color: white;
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;}
.background-container {
  justify-content: center;
  align-items: center;
}
.content-text {
  padding-top: 20px;
}
.title-text {
  font-size: 30px;
  color: gray;
  font-weight: 500;
}
.para-two {
  background-color: yellowgreen;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.para-two:hover {
  background-color: #49bfe3;
}

.para-one {
  margin-bottom: 20px;
}
.icon-field {
  display: flex;
  width: 100%;
  height: 35vh;
  background-color: white;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 70px;
  padding-right: 70px;
  margin-bottom: -30px;
}
.icon-container1 {
  justify-items: center;
}
.visa {
  width: 70px;
  height: 70px;
  border-radius: 150px;
  object-fit: cover;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
  transition: transform 0.5s ease; /* Smooth transition for the spin effect */
}

.visa:hover {
  transform: rotate(360deg); /* Spin the image on hover */
}

.visa-text {
  font-size: 18px;
  font-weight: 500;
  color: gray;
  margin-top: 10px;
}
.visa-text:hover {
  color: magenta;
}
.place-to-work {
  width: 100%;
  background-color: white;
  padding-top: 60px;}
.job-title {
  margin-top: -10px;
  margin-bottom: -10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  padding-bottom: 30px;
  animation: color-change 3s infinite; /* Apply the animation */
  padding-left: 40px;
  color: gray;
  font-weight: 500;
}

.full-container-portfolio {
  width: 100%;
  height: 70vh;
  display: flex; /* Enable flexbox */
  flex-direction: row;
  margin-top: 100px;}
.portfolio-text-container {
  width: 100%;
  height: 70vh;
  display: flex; /* Enable flexbox */
  flex-direction: column;
  background-color: rgb(218, 2, 110);

}
.uk-picture {
  width: 100%;
  height: 100vh;
  display: flex; /* Enable flexbox */
  object-fit: cover;
  opacity: 0.5;
  position: relative;

}
.our-portfolio-container{
  width: 40%;
  display: flex; /* Enable flexbox */
  flex-direction: column;
 top: 50%
 

}
.our-portfolio{
  width: 25%;
  padding: 6px;
  border-radius: 25px;
   background-color: rgba(212, 213, 218, 0.37);
   color: white;
   text-align: center;

}
.portfolio-button{
  width: 40%;
  padding: 12px;
  background-color:#ce5263;
  border-radius: 10px;
  color: white;
  margin-top: 50px;
  transition: background-color 0.3s ease;
     transition: letter-spacing 0.3s ease, background-color 0.3s;
    letter-spacing: normal;
}
.portfolio-button:hover{
   background-color: #b03e4d;
    letter-spacing: 2px;
}
.portfolio-stack{
  width: 90%;
  display: flex;
  flex-direction: row;
  position: absolute;
  z-index: 2;
  justify-content: space-between;
  margin-top: 50px;
  margin-left: 80px;
}
.portfolio-text-1{
  font-family: 'Helvetica-Bold';
  font-size: 55px;
  color: white;
  font-weight: 600;
  line-height: 1.1;
  padding-top: 40px;
}
.portfolio-text-2{
  font-family: 'Helvetica-Bold';
  font-size: 30px;
  color: white;
  font-weight: 500;
  padding-top: 20px;
}
.stack-text{
  width: 40%;
  height: 120vh;
  border-radius: 60px;
  background-color: white ;
  justify-content: center;
  align-items: center;
  display: flex;
  
}
.stack-item{
  width: 80%;
  height: 120vh;
}
.icon-text{
  width: 100%;
  font-size: 15px;
  margin-top: 0px;
}
.icon-plane{
  font-size: 1.5rem;
  color: #ce5263;
  margin-top: 10px;
  font-weight: 500;
  font-family: 'helvetica-bold';
  font-weight: bold;
}
.port-file{
  margin-top: 20px;
}
.portfolio-text-container{
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
}


.portfolio-text {
  font-size: 30px;
  color: white;
  font-weight: 500;
  padding-left: 20px;
  padding-top: 20px;
}
.portfolio-text-2 {
  font-size: 16px;
  color: white;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
}
.view-all {
  color: white;
  font-size: 16px;
  padding-left: 20px;
  padding-top: 20px;
  font-style: italic;
}
.view-all:hover {
  color: yellow;
}
.top-destination {
  color: gray;
  font-size: 30px;
  font-weight: 500;
  padding-left: 20px;
  padding-top: 20px;}
.destinationContainer {
  width: 100%;
  display: flex; /* Enable flexbox */
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex-wrap: wrap;
}
.destinationImage {
  width: 100%;
  height: 100vh;
  display: flex; /* Enable flexbox */
  object-fit: cover;
  border-radius: 20px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease; /* Smooth transition */}

.destinationContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.destinationContainer > div {
  position: relative;
  width: 300px; /* Adjust as needed */
  height: 60vh; /* Adjust as needed */}

.destinationImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.destinationText {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Optional: Add a semi-transparent background */
  padding: 10px;
  border-radius: 5px;
}
.heading-text {
  font-size: 20px;
  color: rgb(66, 209, 10);
  font-weight: 500;}
.review-container {
  width: 100%;
  height: 60vh;
  display: flex; /* Enable flexbox */
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex-wrap: wrap;
  background-color: rgb(223, 222, 222);
  margin-top: 10px;}
.inner-review {
  width: 100%;
  height: 40vh;
  display: flex; /* Enable flexbox */
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex-wrap: wrap;
}
.subscribe-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;

}
.subcription-text {
  font-size: 16px;
  color: white;
  font-weight: 200;
}
.sumbit-button {
  color: white;
  padding-left: 14px;
}
.sumbit-button:hover {
  border-color: rgb(255, 255, 255);
  border-width: 2px;
  color: white;
  justify-content: center;
  border-radius: 20px;
  padding-right: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-left: 5px;
  background-color: #ce5263;
}
.email-input {
  background-color: white;
  border-radius: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;

}
.nyame-tnt {
  width: 50%;
  position: absolute;
  display: flex; /* Enable flexbox */
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-family: "Helvetica-Bold";
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: slideIn 0.7s ease;
  color: rgb(255, 255, 255);
  font-size: 3rem;
  text-align: center;
}
.experiencex-field {
  width: 90%;
  height: 50vh;
  position: absolute;
  top: 82%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex; /* Enable flexbox */
  background-color: white;
  border-radius: 40px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.15); /* Added shadow */
  justify-content: center;
}
.experiencex {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.experience-title {
  font-size: 3.5rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
}
.experience-item {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.for-icons {
  width: 60px;
  height: 60px;
  background-color: #eed9e270;
  border-radius: 15px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translate(-70%, -50%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.about-us {
  width: 100%;
  height: 70vh;
  display: flex;
  background-color: black;
  align-items: center;}
.about-us-header {
  font-size: 40px;
  color: white;
  font-weight: 400;
  position: absolute;
  margin-left: 90px;
}
.about-us-image {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  opacity: 0.4;}
.image-container {
  width: 100%;
  height: 70vh;
}
.about-us-text {
  width: 50%;
  height: 60vh;
  display: flex; /* Enable flexbox */
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.about-us-paragraph {
  padding-top: 60px;
  width: 60%;
  font-size: 16px;
  color: white;
  font-weight: 400;}
.about-us-page {
  font-size: 24px;
  color: white;
  text-align: end;}
.about-us-text-container {
  width: 100%;
  justify-items: end;
  padding-right: 40px;
}
.header-paragraph {
  font-size: 45px;
  font-weight: 500;
  padding-bottom: 10px;
  color: #6ac800;
}
.btn-view-details {
  width: 50%;
  background-color: #ce5263;
  padding-left: 35px;
  padding-right: 35px;
  color: rgb(255, 255, 255);
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 30px;
  margin-top: -10px;
}
.btn-view-details:hover {
  background-color:#a73e4c;
  color: white;
  border-color: #a73e4c;
  border-width: 2px;
}
.welcome-pic {
  width: 500px;
  height: 350px;
  object-fit: cover;
  margin-right: 40px;
  border-radius: 20px;
}
.well-picture-container{
  width: 500px;
  height: 100%;
  display: flex; /* Enable flexbox */
  justify-content: center;
 
}
.email-input{
  color: black;
}